<div class="screen">
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form [formGroup]="formRegister">
        <h1>Crie uma conta</h1>
        <input
          formControlName="PlayerName"
          type="text"
          placeholder="Nome de usuário"
          [ngClass]="{
            'is-invalid': f.PlayerName!.errors && f.PlayerName!.touched
          }"
        />
        <div *ngIf="f.PlayerName.errors?.required" class="invalid-feedback">
          A descrição é obrigatória.
        </div>
        <div *ngIf="f.PlayerName.errors?.minlength" class="invalid-feedback">
          O nome de usuário ter no minimo 6 caracteres
        </div>
        <div *ngIf="f.PlayerName.errors?.maxlength" class="invalid-feedback">
          O nome de usuário deve ter no máximo 16 caracteres.
        </div>
        <input
          formControlName="Email"
          type="email"
          placeholder="E-mail"
          [ngClass]="{
            'is-invalid': f.Email!.errors && f.Email!.touched
          }"
        />
        <div *ngIf="f.Email.errors?.required" class="invalid-feedback">
          O e-mail é obrigatório
        </div>
        <div *ngIf="f.Email.errors?.email" class="invalid-feedback">
          Digite um e-mail válido.
        </div>
        <input
          formControlName="Password"
          type="password"
          placeholder="Senha"
          [ngClass]="{
            'is-invalid': f.Password!.errors && f.Password!.touched
          }"
        />
        <div *ngIf="f.Password.errors?.required" class="invalid-feedback">
          A senha é obrigatória.
        </div>
        <div *ngIf="f.Password.errors?.minlength" class="invalid-feedback">
          A senha precisa ter no minimo 6 caracteres.
        </div>
        <input
          formControlName="PasswordConfirm"
          type="password"
          placeholder="Confirmar Senha"
          [ngClass]="{
            'is-invalid': f.PasswordConfirm!.errors && f.PasswordConfirm!.touched
          }"
        />
        <div *ngIf="f.PasswordConfirm.errors?.required" class="invalid-feedback">
          Confirme a senha.
        </div>
        <div *ngIf="f.PasswordConfirm.errors?.mustMatch" class="invalid-feedback">
          As senhas não correspondem
        </div>
        <input
          formControlName="ImageURL"
          type="text"
          placeholder="Foto de perfil"
        />
        <button class=" btn btn-secondary register" [disabled]="!formRegister.valid" (click)="registerUser()">Registrar-se</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form [formGroup]="formLogin">
        <h1>Faça o Login</h1>
        <input name="Email" formControlName="Email" type="email" placeholder="Email" />
        <input name="Password" formControlName="Password" type="password" placeholder="Senha" />
        <a href="#">Perdeu a sua senha?</a>
        <button (click)="login()" >Logar</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Bem vindo de volta jogador!</h1>
          <p>Já possúi uma conta? faça o seu login!</p>
          <button class="ghost" id="signIn">Login</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Olá, jogador!</h1>
          <p>
            Não possui uma conta ainda? Clique no botão a baixo e registre-se!
          </p>
          <button class="ghost" id="signUp" (click)="registerForm()">
            Registro
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
