$primary: #83B532;
$secondary: #6045AF;

nav {
  height: 100%;
}

.btn-primary{
  font-size: 20px;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.btn-secondary{
  font-size: 20px;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.modal-header{
  background-color: $secondary;
  color: white;
}

.modal-body{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.side-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  cursor: pointer;
}
.side-nav-button:hover{
  background-color: $secondary;
  border-radius: 10px;
}
.navbar-brand{
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 0 #6045AF;
}
.navbar-brand:hover{
  color: #6045AF;
  text-shadow: 2px 2px 0 white;;
}

.fa-right-from-bracket{
  color: white;
  margin-right: 10px;
  font-size: 30px;
  cursor: pointer;
}
