<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
  <div class="container-fluid">
    <div class="side-nav-button p-2 me-3 text-light" (click)="sideNavToggle()">
      <i class="fa-solid fa-bars"></i>
    </div>
    <div
      class="collapse navbar-collapse"
      [collapse]="isCollapsed"
      [isAnimated]="true"
      id="navbarSupportedContent"
    >
      <a class="navbar-brand px-4" routerLink="home">AMT</a>
    </div>
    <i *ngIf="showLogout()" class="fa-solid fa-right-from-bracket" (click)="openModal(template)"></i>
  </div>
</nav>

<!-- Modal -->
<ng-template #template>
  <div class="modal-header">Deseja realmente se deslogar?</div>
  <div class="modal-body">
    <button class="btn-primary" (click)="logout()">Confirmar</button>
    <button class="btn-secondary" aria-label="Close" (click)="modalRef.hide()">
      Cancelar
    </button>
  </div>
</ng-template>
